{% extends "layout.njk" %}

{% block head%}
    <title>Courses | Rocketseat </title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}


{% block content %}

    <div id="courses">
        <h1>Courses</h1>
    </div>

    <section class="cards">
        
        {% for item in items %}
        <div class="card" id="{{item.id}}">
            <div class="card_image-container">
                <img src="https://storage.googleapis.com/golden-wind/bootcamp-launchbase/assets/{{item.id}}.svg" alt="Image of {{item.id}}">
            </div>
            <div class="card_title">
                <p><strong>{{item.emphasis}} </strong> {{item.description}}</p>
            </div>
            <div class="card_info">
                <p>{{item.modules}}</p>
                <p class="card_price">{{item.price}}</p>
            </div>
        </div>
        {% endfor %}

    </section>

    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>

            <div class="modal-content">
                <!-- video here-->
                <iframe src=""  frameborder="0"></iframe>
            </div>
        </div>
    </div>


    <script src="scripts.js"></script>

{% endblock %}
